body 
{	
	position:relative;
	margin: 5%;
	max-width:100%;
	line-height:1.6;
	font-size:18px;
	color:#CCCCCC;
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #000000, #434343);
    background: linear-gradient(to right, #000000, #434343);
}
.candidate 
{
    border: 5px solid #555E94;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 7px;
}
a:link, a:visited {
    color: #555E94;
}
a:hover{
    color: #16268A;
}
















