<!DOCTYPE html>
<html lang="pl">
<head>
	<meta charset="utf-8">
	<title> Login </title>
	<meta name="description" content="Log into voting system">
	<meta name ="keywords" content="login">
</head>
<body>
    <h1>Zaloguj się</h1>
	<div class="login">
        <form action="http://localhost:8002/check_admin" method="POST">
                <p>Numer seryjny dowodu osobistego:</p>
                <input type="text" name="id_number" required>
                <p>PESEL:</p>
                <input type="text" name="pesel" required>
                <p>Hasło:</p>
                <input type="password" name="password" required>
                <p><input type="submit" name="submit" value="Zaloguj"></p>
			</form>
	</div>
</body>
</html>
