<!DOCTYPE html>
<html lang="pl">
<head>
	<meta charset="utf-8">
	<title> Lista kandydatów </title>
	<meta name="description" content="Candidates">
	<meta name ="keywords" content="who, candidates, vote, voting">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='basic.css') }}">
</head>
<body>
	<h1>Lista kandydatów</h1>
    <p>Poniżej możesz zobaczyć kandydatów do głosowania:</p>
    {% for n in range( ids|length ) %}
        <div name=candidate class=candidate>
            <p>{{ids[n]}}. {{first_names[n]}} {{last_names[n]}}</p>
            <p>Wiek: {{ages[n]}}</p>
            <p>Partia: {{parties[n]}}</p>
            <p>{{descriptions[n]}}</p>        
        </div>
    {% endfor %}
    <p><a href="/logged">Wróć</a></p>
</body>
</html>
