<!DOCTYPE html>
<html lang="pl">
<head>
	<meta charset="utf-8">
	<title> Lista kandydatów </title>
	<meta name="description" content="Candidates">
	<meta name ="keywords" content="who, candidates, vote, voting">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='basic.css') }}">
</head>
<body>
	<h1>Lista kandydatów</h1>
    <p>Poniżej możesz zobaczyć kandydatów do głosowania.</p>
    <p>NO BULLSZIT CANDIDATES LISTED BY FOR</p>
    {% for n in range( ids|length ) %}
        <p>ids[n]</p>
    {% endfor %}
    <p><a href="http://localhost:8002/logged">Wróć</a></p>
</body>
</html>
