<div id="edit_note">
	<form id="edited_note_fields" action="http://edi.iem.pw.edu.pl/makosak/notesclient/edited/{{id}}" method="POST">
		<p>Tytul:</p>
		<textarea type="text" class="edited_note_part" name="edited_note_title" rows="1" cols="100" required>{{ title }}</textarea>
		<p>Kategoria:</p>
		<textarea type="text" class="edited_note_part" name="edited_note_category" rows="1" cols="100">{{ category }}</textarea>
		<p>Tag:</p>
		<textarea type="text" class="edited_note_part" name="edited_note_tag" rows="1" cols="100">{{ tag }}</textarea>
		<p>Tresc:</p>
                <textarea type="text" class="edited_note_part" name="edited_note_content" rows="20" cols="100" required>{{ content }}</textarea>
		<p><input type="submit" value="Wyślij"></p>
	</form>
</div>
