<!DOCTYPE html>
<html lang="pl">
<head>
	<meta charset="utf-8">
	<title> Głosowanie on-line </title>
	<meta name="description" content="Voting">
	<meta name ="keywords" content="main, vote, voting">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='basic.css') }}">
</head>
<body>
	<h1>Witaj w systemie głosowania on-line</h1>
    <p>Poniżej możesz przejść do listy kandydatów do głosowania lub zalogować się. Po zakończeniu okresu wyborczego na tej stronie zostaną umieszczone wyniki.</p>
    <p><a href="/candidates">Zobacz listy kandydatów</a></p>
    <p><a href="/login">Zaloguj się</a></p>
</body>
</html>
