<!DOCTYPE html>
<html lang="pl">
<head>
	<meta charset="utf-8">
	<title> Głosowanie on-line </title>
	<meta name="description" content="Voting">
	<meta name ="keywords" content="main, vote, voting">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='basic.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}" ></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
	<h1>Witaj w systemie głosowania on-line</h1>
    <p>Poniżej możesz przejść do listy kandydatów do głosowania lub zalogować się. Po zakończeniu okresu wyborczego na tej stronie zostaną umieszczone wyniki.</p>
    <p><a href="http://localhost:8002/candidates">Zobacz listy kandydatów</a></p>
    <p><a href="http://localhost:8002/login">Zaloguj się</a></p>
</body>
</html>
