<!DOCTYPE html>
<html lang="pl">
<head>
	<meta charset="utf-8">
	<title> Login </title>
	<meta name="description" content="Log into voting system">
	<meta name ="keywords" content="login">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='basic.css') }}">
</head>
<body>
    <h1>Zaloguj się</h1>
	<div class="login">
	<form action="/check" method="POST">
		{{ form.csrf_token }}
		<p>Imię:</p>
		{{ form.first_name(size=20) }}
                <p>Nazwisko:</p>
                {{ form.last_name(size=20) }}
		<p>Imię ojca:</p>
                {{ form.father_name(size=20) }}
		<p>Imię matki:</p>
                {{ form.mother_name(size=20) }}
		<p>Numer seryjny dowodu osobistego:</p>
                {{ form.id_series_number(size=9) }}
		<p>PESEL:</p>
                {{ form.pesel(size=11) }}
		<p><input type="submit" name="submit" value="Zaloguj"></p>
	</form>
	<p><a href="/">Wróć</a></p>
	</div>
</body>
</html>
