<!DOCTYPE html>
<html lang="pl">
<head>
	<meta charset="utf-8">
	<title> Login </title>
	<meta name="description" content="Log into voting system">
	<meta name ="keywords" content="login">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='basic.css') }}">
</head>
<body>
    <h1>Zaloguj się</h1>
	<div class="login">
			<form action="http://localhost:8002/check" method="POST">
				<p>Imię:</p>
				<input type="text" name="first_name" required>
                <p>Nazwisko:</p>
                <input type="text" name="last_name" required>
                <p>Imię ojca:</p>
                <input type="text" name="fathers_name" required>
                <p>Imię matki:</p>
                <input type="text" name="mothers_name" required>
                <p>Numer seryjny dowodu osobistego:</p>
                <input type="text" name="id_number" required>
                <p>PESEL:</p>
                <input type="text" name="pesel" required>
                <p><input type="submit" name="submit" value="Zaloguj"></p>
			</form>
	</div>
</body>
</html>
