<div id="new_note">
	<form id="new_note_fields" action="http://edi.iem.pw.edu.pl/makosak/notesclient/created" method="POST">
		<p>Tytul:</p>
		<textarea type="text" name="new_note_title" rows="1" cols="100" required></textarea>
		<p>Kategoria:</p>
		<textarea type="text" name="new_note_category" rows="1" cols="100" ></textarea>
		<p>Tag:</p>
		<textarea type="text" name="new_note_tag" rows="1" cols="100" ></textarea>
		<p>Tresc:</p>
                <textarea type="text" name="new_note_content" rows="20" cols="100" required></textarea>
		<p><input type="submit" value="Wyślij"></p>
	</form>
</div>
