<div id="note_list">
		<div id="search_options" class="search_options">
			<p class="info">Wyszukaj wiadomosci po kategorii/tagu</p>
			<select>
				<option value="category">Kategoria</option>
				<option value="tag">Tag</option>
			</select>
			<textarea type="text" name="new_note_tag" rows="1" cols="20" ></textarea>
			<div id="search" class="search_party">Szukaj</div>
		</div>
		{% for n in range( ids|length ) %}
		<div id="single_note" class="single_note">			
				<div id="title" name="{{ ids[n] }}" class="note_part">Tytul: {{ titles[n] }}</div>
                                <div id="category" class="note_part_inactive">Kategoria: {{ categories[n] }}</div>
				<div id="tag" class="note_part_inactive">Tag: {{ tags[n] }}</div>
				<div id="delete" name="{{ ids[n] }}" class="note_part">Usuń</div>
		</div>
		{% endfor %}
</div>
