<div id="opened_note">
	<div class="opened_note_part" id="title">
		<p>Tytul:</p>
		<p>{{ title }}</p>
	</div>
	<div class="opened_note_part" id="category">
		<p>Kategoria:</p>
        	<p>{{ category }}</p>
	</div>
	<div class="opened_note_part" id="tag">
	        <p>Tag:</p>
	        <p>{{ tag }}</p>
	</div>
	<div class="opened_note_part" id="content">
		<p>Tresc:</p>
	        <p>{{ content }}</p>
	</div>
	<div class="opened_note_part_edit" id="edit" name="{{ id }}">
                <p>Edytuj</p>
        </div>
	<div class="opened_note_part_delete" id="delete" name="{{ id }}">
		<p>Usuń</p>
	</div>
</div>
